




body{
    font-family: sans-serif;
    color: white;

}

.accordion
{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.item
{
    background-color: white;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 black;

}
.accordion .item .item-label
{
    padding: 0.5rem 3rem 0.5rem 1rem ;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}

.accordion .item .item-label::after
{
    content: "\002B" ;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.2s ease-in-out;

}

.accordion .item .item-label.active::after
{
    transform: rotate(45deg);
}
.accordion .item .item-body
{
    max-height: 0;
    overflow: hidden;
   transition: max-height 0.2s ease-out;

}
.accordion .item .item-content
{
    padding: 1rem;
    line-height: 1.5rem;
    border-image: linear-gradient(to right,green,transparent, yellow,transparent)1;
}

/*                 // componet css
---------------------------------------------------------------------------------------------*/





.row .col-4 .card {
width: 90%;
}
.col{
    width: 40%;
}
.row1{
    height: 107px;
}


.whatsapp{
    color: rgb(16, 199, 16);
    position: fixed;
    left: 12px;
    top: 607px;

}
header a{
    text-decoration: none;
    color: black;
}

.p_footer{
    position: relative;
    text-align: right;

}

footer{
    background-color: hsl(0, 0%, 15%);
    color: white;
    height: 80px;
}
